<div class="app-layout">
  <aside class="sidebar">
    <div class="logo">
      CareerPilot
    </div>

    <nav>
      <ul>
        <li>Dashboard</li>
        <li>Applications</li>
        <li>Companies</li>
        <li>Recruiters</li>
        <li>Interviews</li>
        <li>Notes</li>
        <li>Settings</li>
      </ul>
    </nav>
  </aside>

  <div class="main-content">
    <header class="topbar">
      <h2>Welcome, Bhagi 👋</h2>
    </header>

    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>